@import url('https://fonts.googleapis.com/css2?family=Andika&family=Merriweather&family=Poppins:wght@400;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-gradient-border {
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}