<section id="about" class="text-base-content bg-base-100 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 max-h-screen w-full mb-10 lg:mb-0 rounded-lg">
      <img alt="feature" class="object-cover object-center h-full w-full" src="https://rosamint.org/images/BabeTommys.webp">
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-base-content text-lg title-font font-medium mb-3">I'm someone who's had an interest in coding since I was a teenager, which helped me as I studied Computer Engineering at SBCC.</h2>
          <p class="leading-relaxed text-base-content">Attending school helped me develop research and communication skills, but working with my hands on film sets and at warehouses has helped me develop work-ethic and practical skills, which I use to tackle my projects head-on. </p>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-base-content text-lg title-font font-medium mb-3">Today my affinity for tech expresses itself in various ways: </h2>
          <p class="leading-relaxed text-base-content">by putting projects on the cloud, trying out new designs on my websites, and building a project as a way to learn new tech. </p>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-base-content text-lg title-font font-medium mb-3">I love to learn and hack, so let's talk! </h2>
        </div>
      </div>
    </div>
  </div>
</section>