---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="About">
  <section id="about" class="text-base-content body-font m-6">
  <h1 class="text-5xl font-bold text-center text-base-content">About me</h1>
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 max-h-screen w-full mb-10 lg:mb-0 rounded-lg">
      <img alt="feature" class="object-cover object-center h-full w-full" src="https://rosamint.org/images/BabeTommys.webp">
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-base-content text-2xl title-font font-medium mb-3">I'm someone who's had an interest in coding since I was a teenager, which helped me as I studied Computer Engineering at SBCC.</h2>
          <p class="leading-relaxed text-base-content">Attending school helped me develop research and communication skills, but working with my hands on film sets and at warehouses has helped me develop work-ethic and practical skills, which I use to tackle my projects head-on. </p>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-base-content text-2xl title-font font-medium mb-3">Today my affinity for tech expresses itself in various ways: </h2>
          <p class="leading-relaxed text-base-content">by putting projects on the cloud, trying out new designs on my websites, and building a project as a way to learn new tech. </p>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-base-content text-2xl title-font font-medium mb-3">I love to learn and hack, so let's talk! </h2>
        </div>
      </div>
    </div>
  </div>
  </section>
</BaseLayout>