<section class="hero min-h-[75vh] bg-fixed">
  <div class="hero-overlay bg-primary bg-opacity-50"></div> 
  <div class="text-center hero-content flex-col text-primary-content">
      <img class="lg:w-3/12 md:w-3/6 w-5/6 mb-10 object-center rounded mask mask-hexagon" alt="hero" src="https://rosamint.org/images/Square_Poloroid_Self.webp">
      <h1 class="title-font sm:text-6xl text-3xl mb-4 font-extrabold text-primary-content font-poppins">React, Node.js, Python Dev</h1>
      <p class="leading-relaxed mb-8 text-3xl font-bold font-andika">Looking for roles in Frontend, Backend, and Fullstack positions.</p>
  </div>
</section>

<style>
  section{
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
  }
</style>