<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col max-h-screen">
    <img class="lg:w-1/6 md:w-3/6 w-5/6 mb-10 object-center rounded" alt="hero" src="https://rosamint.org/images/Square_Poloroid_Self.webp">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">React, Node.js, Python Dev</h1>
      <p class="leading-relaxed mb-8">Looking for roles in Frontend, Backend, and Fullstack positions.</p>
      <div class="flex flex-wrap justify-center">
        <a href="https://github.com/BleedingEffigy">
          <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Github</button>
        </a>
        <a href="https://twitter.com/bleedingeffigy">
          <button class="ml-4 mb-2 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Twitter</button>
        </a>
        <a href="https://www.linkedin.com/in/alexander-hernandez-813642123/">
          <button class="ml-4 mb-2 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">LinkedIn</button>
        </a>
        <a href="https://phantomexclusive.hashnode.dev/">
          <button class="ml-4 mb-2 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Blog</button>
        </a>
      </div>
    </div>
  </div>
</section>