<header class=" text-base-content bg-base-100 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="flex flex-wrap items-center text-base md:ml-auto">
      <a href="#skills" class="mr-5 hover:text-base-content">Skills</a>
      <a href="#projects" class="mr-5 hover:text-base-content">Projects</a>
      <a href="#about" class="mr-5 hover:text-base-content">About</a>
      <div class="btn-group">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
        </svg>
        <input type="checkbox" checked="checked" class="toggle" data-toggle-theme="darkforest,bumblebee" data-act-class="ACTIVECLASS">
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
    </nav>
  </div>
</header>