<section class="min-h-[85vh] bg-fixed pt-10">
    <div class="my-10 min-h-[60vh] bg-base-300 mb-5">
        <h1 class="text-5xl font-black font-poppins text-center text-base-content pt-10 opacity-90">About me</h1>
          <div class="flex flex-col text-4xl font-medium font-poppins text-center w-1/2 mx-auto my-10 divst-disc opacity-90">
            <div class="rounded-lg bg-base-200 p-2 m-2 glass">I like to build products using Next.js, Python, and Solidity </div>
            <div class="rounded-lg bg-base-200 p-2 m-2 glass">I'm building <a class="bg-clip-text text-transparent bg-gradient-to-br from-green-200 via-green-400 to-purple-700" href="https://ephemeraldao.netlify.app/">EphemeralDAO🔗</a>.</div>
            <div class="rounded-lg bg-base-200 p-2 m-2 glass">I use the JamStack to quickly create websites and bring them online</div>
        </div>
    </div>
</section>

<style>
  section{
    background-image: url('https://images.unsplash.com/photo-1545987796-200677ee1011?ixdivb=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  }
</style>