<section class="min-h-[85vh] bg-fixed pt-10">
    <div class="my-10 h-[60vh] bg-base-300">
        <h1 class="text-5xl font-black font-poppins text-center text-base-content pt-10 opacity-90">About me</h1>
        <ul class="text-4xl font-medium font-poppins text-center w-1/2 mx-auto my-10 list-disc opacity-90">
            <li>I'm a Web Developer deploying projects using React and JS. </li>
            <li>I'm maintaining Blossom+.</li>
            <li>I use the JamStack to quickly create websites and bring them online</li>
        </ul>
    </div>
</section>

<style>
  section{
    background-image: url('https://images.unsplash.com/photo-1545987796-200677ee1011?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  }
</style>