<section class="min-h-[85vh] bg-fixed pt-10">
    <div class="my-10 h-[60vh] bg-base-100">
        <h1 class="text-5xl font-black text-center text-base-content pt-10">About me</h1>
        <p class="text-4xl font-medium text-center w-1/2 mx-auto my-10">
        I'm a Web Developer deploying projects using React and JS. 
        I'm maintaining Blossom+.
        I use the JamStack to quickly create websites and bring them online</p>
    </div>
</section>

<style>
  section{
    background-image: url('https://images.unsplash.com/photo-1545987796-200677ee1011?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  }
</style>