---
 const keywords = 
    {
        "skills": ["clojure", "react", "gatsby", "redux", "es6", "html5", "css3", "sass", "bulma", "java", "c", "Django"],
        "tools": ["Linux", "zsh", "git", "spacemacs", "digitalocean", "yarn", "leiningen", "tmux", "sqlite", "postgresql", "nginx", "pm2", "gunicorn", "netlify"],
        "buzzwords": ["CS Knowledge", "Knowledge of coding langauges", "code optimization", "API's, info retrieval", "Software design", "Web apps", "distributed systems", "Observation", "planning", "problem solving", "collaboration", "communication", "active learning", "adaptibility", "innovation", "creativity", "organization", "leadership", "responsibility", "analysis"]
    }
---
<section id="skills" class="text-base-content body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-indigo-400 bg-gray-800 flex-shrink-0">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
          <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
        </svg>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-base-content text-3xl title-font font-medium mb-2">Skills</h2>
        <p class="leading-relaxed text-base font-semibold">
            {keywords.skills.join(' • ').toUpperCase()}
        </p>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-base-content text-3xl title-font font-medium mb-2">Tools and Architecture</h2>
        <p class="leading-relaxed text-base font-semibold">
            {keywords.tools.join(' • ').toUpperCase()}
        </p>
      </div>
      <div class="sm:w-32 order-first sm:order-none sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full text-indigo-400 bg-gray-800 flex-shrink-0">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
          <circle cx="6" cy="6" r="3"></circle>
          <circle cx="6" cy="18" r="3"></circle>
          <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
        </svg>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-indigo-400 bg-gray-800 flex-shrink-0">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
          <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-base-content text-3xl title-font font-medium mb-2">General Skills</h2>
        <p class="leading-relaxed text-base font-semibold">
            {keywords.buzzwords.join(' • ').toUpperCase()}
        </p>
      </div>
    </div>
  </div>
</section>