---
import NavBar from '../components/NavBar.astro'
const {title} = Astro.props 
---

<html lang="en" data-theme="darkforest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>
<body>
    <main>
        <header>
            <NavBar currentPage={title} />
        </header>
        <slot />
    </main>
</body>
</html>